body.landing {
    background-color: rgb(58,23,63);
}

.hero-content {
    position: relative;
    min-height: 600px;
    background-color: gray;
}

.hero-content .hero-title {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 0px rgb(58,23,63);
}

.hero-content .hero-title:hover {
    cursor: pointer;
}