<div class="room-list-container">
    <div class="room-list-title">
        <span ui-sref="home">Bloc Chat</span>
        <button type="button" class="btn btn-default" ng-click="open()">Create New Room</button>
    </div>

    <script type="text/ng-template" id="roomsModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Create a new room!</h3>
        </div>
        <div class="modal-body">
            <!-- push a new room onto the array -->
            Name: <input ng-model="newRoomName" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="create()">Create</button>
        </div>
    </script>

    <br/>
    
    <div class="room-list-rooms">
        <div class="room-list-rooms-individual" ng-repeat="room in rooms.rooms" ng-click="setCurrentRoom(room)">
            {{ room.name }}
        </div>
    </div>
</div>

<div class="chat-message-container">
    <h1>{{ currentRoom.name }}</h1>
    <div class="chat-message-messages" ng-repeat="message in messages">
        {{ message.username }} ({{ message.sentAt }})
        <br/>
        - {{ message.content }}
    </div>
</div>