<br/>

Bloc Chat

<button type="button" class="btn btn-default" ng-click="open()">Create New Room</button>

<script type="text/ng-template" id="roomsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create a new room!</h3>
    </div>
    <div class="modal-body">
        <!-- push a new room onto the array -->
        Name: <input ng-model="newRoomName" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="create()">Create</button>
    </div>
</script>

<ul>
    <li ng-repeat="room in rooms.rooms">{{ room.name }}</li>
</ul>